[2016-04-08 07:29] sarbbottam opened #5 "Update information"
README.md
- [x] badges
- [x] description
- [x] acknowledgement to the original module
- [x] add gitter room link

Repo
- [ ] change the repo's description
  * _will be updated once #11 is merged_

[2016-04-08 08:00] ta2edchimp opened #6 "Feature: Compare / Diff two or more configs"
Add an option to compare the rules configured by two (or even more?) ESLint configs.

[2016-04-08 08:04] ta2edchimp opened #7 "Feature: Verbose output"
Add a `--verbose` option. When used, print for example when there's no rule unconfigured (atm. this has no output at all).

We could easily make use `npm-log` for this.

[2016-04-08 08:05] sarbbottam opened #8 "Setup gitter room"
Would it be better to setup [gitter](https://gitter.im/) for discussion?
/@ta2edchimp

[2016-04-08 08:06] sarbbottam opened #9 "Feature: better output"
Current output looks a bit clumsy, can we make it better?

[2016-04-08 08:09] sarbbottam commented on #6
`--diff | -d` could be the option.

❓
* `eslint-rule-finder -d path/to/file-a path/to/file-b`
* must provide two files?
* how the output should look like?

[2016-04-08 08:19] ta2edchimp commented on #6
Thought of using `cli-table2` and printing the used configs like `JSON.stringify`. One rule per row.

[2016-04-08 08:20] ta2edchimp commented on #8
I have no experience with it, but why not, would keep the "side chat" out of issues / PRs ...

[2016-04-08 08:22] ta2edchimp commented on #9
Could be a lot, but why not one rule per line, link to description on eslint.org, if available?

[2016-04-08 21:17] sarbbottam commented on #8
done - https://gitter.im/sarbbottam/eslint-rule-finder

[2016-04-08 21:17] #8 closed

[2016-04-11 06:38] #5 closed

[2016-04-11 06:41] ta2edchimp opened #12 "Update: Contributors in package.json"
While I think the author on a package's page in npmjs.org is determined by the user doing the initial publication, I wonder if we should update at least the `contributors` field in `package.json`.

[2016-04-11 06:45] sarbbottam commented on #12
Please go ahead and make the necessary changes.

On Sun, Apr 10, 2016, 11:41 PM Andreas Windt <notifications@github.com>
wrote:

[2016-04-11 06:50] ta2edchimp commented on #12
Will do.

[2016-04-11 16:18] ta2edchimp commented on #7
How should we assign the output to different log levels?
By default, [`npmlog`](https://www.npmjs.com/package/npmlog) (I spelled it wrong in the op) comes with these log levels:

- `silly`: I think this will be unused, but could eventually be used to simply log everything.
- `verbose`: Print things like "there's no rule unconfigured" (relates to [the original package's issue #24](https://github.co

[2016-04-11 16:44] #12 closed

[2016-04-11 16:48] sarbbottam opened #14 "Should the package name be `eslint-find-rules`"
Should the package name be `eslint-find-rules`? Similar to its predecessor `eslint-find-new-rules`?

Not sure, but I guess
`eslint-find-rules [option] <filename>`
it sounds better than
`eslint-rule-finder [option] <filename>`

a verb seems better than a noun, in this case.

Thoughts?

[2016-04-11 16:54] ta2edchimp commented on #14
Yeah, I completely agree. `eslint-find-rules` sounds more related and better in general.

[2016-04-11 17:38] sarbbottam commented on #7
Sounds good!

Wondering if `silly` and `verbose` should be combined.

[2016-04-11 18:40] ta2edchimp commented on #7
Yeah I think we can skip `silly` completely, but `verbose` is sth. I'd really like to have in.

[2016-04-11 19:03] sarbbottam opened #16 "post #15 merge chores"
- [x] update repo name
- [x] update repo description
- [x] set up gitter room

[2016-04-11 19:04] sarbbottam commented on #7
We might want to address #9 along with this.

[2016-04-11 19:15] ta2edchimp commented on #7
Yep

[2016-04-11 20:17] #14 closed

[2016-04-11 21:17] #16 closed

[2016-04-11 21:22] sarbbottam opened #20 "Release?"
I would be better to release this package asap, if we consider its current state is good enough for [MVP](https://en.wikipedia.org/wiki/Minimum_viable_product)

Then we have to put a deprecation notice to [eslint-find-new-rules](https://github.com/kentcdodds/eslint-find-new-rules) and point it to this one.

Other wise we may end up addressing the same issues, in both the repo.

[2016-04-11 21:30] ta2edchimp commented on #20
Yes, absolutely! I'd say, re-enable travis for this (renamed) repo and if all checks from #19 succeed, we'd pull the trigger.

I'll be more productive again too tomorrow ...

[2016-04-12 09:13] ta2edchimp opened #22 "Bug: npm script erroneous"
In [`package.json`](https://github.com/sarbbottam/eslint-find-rules/blob/master/package.json#L10) we have:

[code]

but running it will fail, due to

- `./bin.js` not existing,
- `eslint-config-kentcdodds` [not being successfully resolved](https://github.com/sarbbottam/eslint-find-rules/blob/master/src/rule-finder.js#L13).

@sarbbottam do we need this npm script?

[2016-04-12 17:36] sarbbottam commented on #22
Nope!

[2016-04-12 18:02] #22 closed

[2016-04-12 18:29] sarbbottam opened #26 "use mocha instead of ava"
Since the `src/` is in `es5`, let the tests be in `es5` too.

[2016-04-12 18:33] sarbbottam opened #27 "bin.js needs to be tested."
test `bin.js`

[2016-04-12 21:32] #26 closed

[2016-04-12 21:38] #27 closed

[2016-04-12 21:51] sarbbottam commented on #9
I tried that initially but it scrolls past the window. I was expecting to display it in similar to `ls` command at least.

[2016-04-12 21:56] ta2edchimp commented on #9
Good idea. We could use `cli-table2` (or sth. like that) with a dynamic column width but without borders.
I used it with my `what-the-status-code-cli` implementation and I like it!

[2016-04-12 23:56] sarbbottam opened #31 "Exit status"
Currently exit status is 0, the original module used process.exit(1), I removed that on purpose, I did not want the error to scroll past the viewport.

Should there be an option `--exit=1` default to `0`?
May be in [CI environment](https://github.com/watson/is-ci) `exit` status is 1?

Thoughts?

[2016-04-13 06:02] sarbbottam commented on #31
Did not realize `-s` to silent the output.

[2016-04-13 06:14] ta2edchimp commented on #31
I think it's a good idea to be able to specify whether to exit with non-zero codes.

[2016-04-13 06:50] sarbbottam commented on #31
What should be the default exit status? `0`?

[2016-04-13 09:18] ta2edchimp commented on #31
Hmm... the more I think about it, the more I think that `1` should be default.
You usually want to have a comprehensive rule set, don't you?
When liberately omitting some rules, add `--no-error|-n`?

[2016-04-13 22:58] sarbbottam commented on #6
just came across [cliui](https://github.com/yargs/cliui), might be helpful.

[2016-04-13 22:58] sarbbottam commented on #9
just came across [cliui](https://github.com/yargs/cliui), might be helpful.

[2016-04-13 23:03] ta2edchimp commented on #6
Awesome! I fiddled around with that `cli-table2` today and it just did not do the job as I'd have liked it to (too much to be done for the desired result).

Nice finding!

[2016-04-14 18:52] #31 closed

[2016-04-14 19:58] #20 closed

[2016-04-14 20:10] kentcdodds opened #38 "Moved from my user?"
Did we discuss this? It's no big deal, but it was just a bit surprising and probably unnecessary....

[2016-04-14 20:12] kentcdodds commented on #38
:sweat_smile: my bad. Totally got confused for a bit. We talked about this and you're good. Thanks for making this project awesome.

![penguin-oops-XItRQJP0wai7m](https://camo.githubusercontent.com/c3b149885d0be23678d9c2a650299eee2cedd1a3/68747470733a2f2f6d65646961342e67697068792e636f6d2f6d656469612f58497452514a5030776169376d2f67697068792e676966>)

[2016-04-14 20:12] #38 closed

[2016-04-15 12:26] ta2edchimp commented on #6
I'd rather thought of showing the actual differences of the compared configs.
There's little value in a pure list, I'd have to dig deep into the configs to see where they **actually** differ.

I'm reopening this and reassigning this to myself.

If you guys think, that displaying the actual differences would be too verbose, please share your thoughts, we could hide it behind a corresponding `loglev

[2016-04-15 15:17] ta2edchimp commented on #7
Another thing that came into my mind, when making the tabular output / sorting the rules' names alphabetically:
We probably should also group those rules, like in a batch of rules for `eslint (default)` and all loaded plugins `eslint-plugin-import` etc. ...

[2016-04-15 15:21] sarbbottam commented on #7
Go for it.

[2016-04-15 15:35] #9 closed

[2016-04-17 19:35] ljharb opened #51 "Changelog?"
I'd love to know what changes between versions without having to read the commit log :-)

[2016-04-17 19:54] sarbbottam commented on #51
Change log is associated with the [corresponding releases](https://github.com/sarbbottam/eslint-find-rules/releases).

Are you looking for something else?

[2016-04-17 21:40] sarbbottam opened #52 "Colorized output"
~ @ta2edchimp

[2016-04-18 00:22] ljharb commented on #51
aha, thanks. I'd expect a `CHANGELOG.md` file in the root of the repo.

[2016-04-18 00:23] kentcdodds commented on #51
Yeah, in Angular-formly, I have a CHANGELOG.MD that just explains this and links to releases. We could do this.

[2016-04-18 06:50] sarbbottam commented on #51
Closed by https://github.com/sarbbottam/eslint-find-rules/pull/53

[2016-04-18 06:50] #51 closed

[2016-05-01 23:28] domenic opened #69 "How can I use this on my project, not on my shareable config?"
My project has a non-shareable config. I was hoping for a workflow where I install this globally and do

[code]

and it shows me which rules I haven't configured. However, this failed in two ways:

- First, it wouldn't work until I also globally installed eslint. That's sad.
- Second, even after I did that, it always output nothing. I tried deleting random rules from my config, and nothing happene

[2016-05-01 23:52] sarbbottam commented on #69
[code]

You have to specify an `option`. For example, if you want to list the unused rules, use the `-u` option.

[code]

Please refer the [usage section](https://github.com/sarbbottam/eslint-find-rules#usage) for details.

I wonder how come it did not throw any error, [it excepts `eslint` to be installed locally](https://github.com/sarbbottam/eslint-find-rules/blob/master/src/lib/rule-finder.js#L

[2016-05-01 23:55] domenic commented on #69
I already have eslint installed locally; it threw an error until I also installed it globally.

It looks like specifying an option is what I needed; thank you! I skimmed the readme and found "By default it will error out only for -u|--unused" which I misread as "by default it will specify -u|--unused"

[2016-05-01 23:55] #69 closed

[2016-05-01 23:59] sarbbottam opened #70 "`eslint` dependency"
Instead of hard code `eslint` directory, use [require.resolve](https://nodejs.org/api/globals.html#globals_require_resolve) to detect it.

If no `eslint` is found in the `PATH` display proper error.

Refer #69

[2016-05-01 23:59] sarbbottam opened #71 "If no `options` are provided, warn the user"
If no `options` are provided, warn the user.

Refer #69

[2016-05-02 00:36] sarbbottam commented on #70
@ta2edchimp, @kentcdodds could you take a look?

[2016-05-02 00:37] kentcdodds commented on #70
I probably won't have time honestly

[2016-05-02 00:38] sarbbottam commented on #70
no worries!!

[2016-05-02 00:43] sarbbottam commented on #70
oops commented in the issue instead of PR., deleting the comments as they are not relevant.

[2016-05-02 00:45] sarbbottam commented on #7
@ta2edchimp do you think we can close this issue?

[2016-05-02 00:45] sarbbottam commented on #6
@ta2edchimp doc you think we can close this issue?

[2016-05-02 06:18] ta2edchimp commented on #6
Absolutely.

[2016-05-02 06:18] #6 closed

[2016-05-02 06:18] ta2edchimp commented on #7
Yep.

[2016-05-02 06:18] #7 closed

[2016-05-06 20:48] #70 closed

[2016-05-06 20:51] sarbbottam commented on #71
fixed at https://github.com/sarbbottam/eslint-find-rules/pull/73

[2016-05-06 20:51] #71 closed

[2016-05-07 00:04] ljharb opened #83 "Breaking change in minor version"
So, first, https://github.com/sarbbottam/eslint-find-rules/commit/93a68b662d97581542cbcc49370a290088ce8b13 is a breaking change, and should not have been released as a minor version.

Second, it is failing for me when run as a local utility. Using `npm run-script`s, `eslint-find-rules` can be invoked directly, since `npm` puts it in the PATH - so your method of determining "is global" is flawed.

[2016-05-07 00:16] ljharb commented on #83
ping @sarbbottam @kentcdodds

[2016-05-07 02:02] sarbbottam commented on #83
@ljharb extremely sorry about it. We use `semantic-release`, which looks for `BREAKING CHANGE` in the commit message to release a major version. Making a re-release reverting this change.

[2016-05-07 02:08] #83 closed

[2016-05-07 02:23] sarbbottam opened #85 "eslint-find-rules being used as a global utility?"
[is-global.js](https://github.com/sarbbottam/eslint-find-rules/blob/master/src/bin/is-global.js) fails in node 4.4

- https://travis-ci.org/ljharb/eslint-config/jobs/128434647#L499
- https://travis-ci.org/ljharb/eslint-config/jobs/128433311#L491

Utilization is commented now, refer #83
Does it even make sense to keep it or just update the README, that this must not be used as a global utility.

@t

[2016-05-07 03:00] kentcdodds commented on #85
Yeah, just document that people should use it as a local utility. People can do what they want ¯\\\_(ツ)_/¯

[2016-05-07 17:18] ljharb commented on #83
Thanks!

[2016-05-10 00:04] #85 closed

[2016-07-06 15:23] sarbbottam opened #125 "Stop supporting node 10?"
[eslint has dropped support for node < 4](https://github.com/eslint/eslint/blob/master/docs/user-guide/migrating-to-3.0.0.md#dropping-support-for-nodejs--4), Should eslint-find-rules do the same?

If not, [we have restrict the dependent eslint version < 3 to get the build pass](https://travis-ci.org/sarbbottam/eslint-find-rules/jobs/142552371#L198)

@ta2edchimp @ljharb thoughts?

[2016-07-06 16:06] ljharb commented on #125
You're correct that in order to support both eslint 2 and 3, you'll have to conditionally install eslint 2 for node < 4 in travis, and eslint 3 for node >= 4.

Personally I think this is worth it to maintain back compat for awhile - if you disagree, then surely you'll want to drop support for pre-node-4. However, eslint 3 kept support for the eslint 2 rule format precisely to give eslint 2 users t

[2016-07-06 16:33] ta2edchimp commented on #125
I'd definitely vote for keeping backwards compatibility for a while.
As I'd like to get the coloured output feature #52 also for ESLint 2 (in case it won't take us forever to realize it :stuck_out_tongue_winking_eye: ), how about another dist-channel to enable certain features and fixes for ESLint 2 users, while generally proceeding with version 2 (for ESLint 3)?
(I personally have zero experience

[2016-07-06 16:46] ljharb commented on #125
Small plug for using https://www.npmjs.com/package/safe-publish-latest to avoid accidental latest publishes when maintaining multiple version lines :-p

[2016-07-07 06:28] sarbbottam commented on #125
Sounds good!

[2016-07-12 13:07] jfmengels opened #130 "A way to not list core rules"
Hi all!

I'm updating a eslint config package we use at my company (https://github.com/CoorpAcademy/eslint-plugin-coorpacademy, if you need to know. It's a eslint-plugin rather thant eslint-config because it allows us to bring external dependencies with it), and I'm using this tool to find what rules are new and missing in my config files.

We have a core config, which configures all core ESLint r

[2016-07-12 15:07] ta2edchimp commented on #130
That's definitely some great ideas to think about, thanks! :+1:

[2016-07-16 05:57] ljharb opened #132 "v3.1.0 claims it has an unused ".eslintrc.yml" rule"
I updated eslint to v3.1.0 in https://github.com/ljharb/eslint-config and ran `npm run prepublish` (which runs `eslint-find-rules --unused`, among other things).

It complains about two missing rules: "multiline-ternary" which is a new one added in v3.1.0, and ".eslintrc.yml", which is not a rule at all.

[2016-07-16 08:13] sarbbottam commented on #132
[eslint-find-rules scans `eslint/lib/rules` directory for all available core rules](https://github.com/sarbbottam/eslint-find-rules/blob/master/src/lib/rule-finder.js#L74)

Looks like a `.eslintrc.yml` was added to `eslint/lib/rules` [three days ago](https://github.com/eslint/eslint/blame/master/lib/rules/.eslintrc.yml), which has created the issue.

Need to filter out any non `.js` file.

[2016-07-16 08:38] sarbbottam commented on #130
Yep, `--no-core` will be a `boolean` by default always `false`.

It is designed to exit w/ error code, excerpt from the [usage section](https://github.com/sarbbottam/eslint-find-rules/blob/master/README.md#usage)

however if you do not want the `process` to `exit` with a `non-zero` exit code, use the `-n|--no-error` along with `-u|--unused`

Please refer https://github.com/sarbbottam/eslint-find-r

[2016-07-16 09:03] #125 closed

[2016-07-16 19:19] #132 closed

[2016-07-29 14:43] jfmengels commented on #130
That is something quite nice IMO. I just meant that in this "special" case, it didn't work as I would have like.

Good to know, thanks.

Is this something that you still want to think about, or are you just waiting for someone to start working on it? If it's the second, I don't mind working on it, will just have to find some time for it.

(Sorry for not answering earlier, vacation called :sweat_sm

[2016-07-29 15:08] ta2edchimp commented on #130
Feel free to create a PR.
It's the same on my side considering finding the time atm.

Just report back should you start working on it :smiley:

[2016-07-29 15:16] jfmengels opened #141 "Links in output"
Atom's [linter-eslint](https://github.com/AtomLinter/linter-eslint) project holds a list of plugin and plugin rules documentation location pair (see https://github.com/AtomLinter/linter-eslint/blob/master/lib/helpers.js#L72-L104). Basically: "For eslint plugin X, the documentation for every rule is in `https://github.com/Gillespie59/eslint-plugin-X/blob/master/docs/' + ruleName + '.md'`.

What do

[2016-07-29 15:23] ta2edchimp commented on #141
This is awesome!

If I got it right, you want to make a new module, we could then use as a plugin in `eslint-find-rules`?
That would be really cool and would absolutely help to give the `verbose` output option more value.

[2016-07-29 15:31] jfmengels commented on #141
You got it right ;)

[2016-07-29 15:38] sarbbottam commented on #141
So the documentation links in o/p will be on demand via some options.
Is my comprehension correct?

[2016-07-29 15:39] sarbbottam commented on #130
A bit tight schedule, feel free to raise a PR.

[2016-07-29 16:26] jfmengels commented on #141
Yes, it's too verbose to be there by default.

[2016-07-31 22:14] jfmengels commented on #141
I created that new module as I mentionned https://github.com/jfmengels/eslint-rule-documentation/, if you have the time to give me some feedback as to this use-case, that'd be great! I think that what this module is enough to be used here, but just wanted confirmation.

If you don't have the time, no problem, I'll publish in a few days, then see whether it all works out when I try to implement thi

[2016-07-31 22:26] sarbbottam commented on #141
looks good 👍

[2016-08-01 05:59] ta2edchimp commented on #141
Fantastic! :+1:

[2016-08-04 17:17] #130 closed

[2016-08-04 17:19] sarbbottam opened #154 "Use ES2015?"
Should the codebase be ES2015fied?

@ta2edchimp @ljharb @jfmengels

[2016-08-04 17:24] ljharb commented on #154
Since eslint v3 dropped support for < node 4, I think it'd be OK to do so, and update the code accordingly.

Either way, as long as the code is transpiled on prepublish, I don't think it's a big deal either way.

[2016-08-04 17:37] sarbbottam commented on #154
Sounds good.

Will create a separate branch and work on ES2015.

[2016-08-04 17:40] #141 closed

[2016-08-04 17:43] ta2edchimp commented on #154
Shall we wait postpone correcting the alignment of #146 's output until after the "es2015ification" (what a word)? I guess it would simplify things a lot ...

[2016-08-04 17:44] sarbbottam commented on #154
Sure.

[2016-08-04 20:00] jfmengels commented on #154
Sounds good to me!

[2016-08-31 09:53] mgol opened #172 "Don't require to specify deprecated rules"
Currently the command `eslint-find-rules -u` ends with an error if you don't specify deprecated rules. Ideally that wouldn't be required; currently I just [put them in a separate section and disable](https://github.com/mgol/eslint-config-mgol/blob/61a129c72391b35a3e2533061855094584d808f5/eslint-config-mgol.js#L258-L261) but that means my config will be broken as soon as those rules are removed whi

[2016-08-31 10:17] jfmengels commented on #172
:+1: I like the idea, and ESLint does return enough data to handle that (see [this](https://github.com/eslint/eslint/blob/master/lib/rules/no-native-reassign.js#L22))

From what I can see, it could work for plugin rules too, if we're careful with the format of the rule (ESLint v2 and v3 format), and if they copy the same meta info behavior as ESLint.

The only downside to this, is that you'd need

[2016-08-31 10:22] ta2edchimp commented on #172
👍  making the tool slower is worth it in this case, I guess! At least, when being behind a flag.

[2016-08-31 10:22] mgol commented on #172
I've reported an issue upstream that would help for this & similar use cases: https://github.com/eslint/eslint/issues/7021.

[2016-09-12 14:30] mateatslc commented on #172
look here for news on this: https://github.com/eslint/eslint/issues/6525

[2016-09-23 09:10] jfmengels opened #178 "Use chalk to underline urls"
We now output urls in verbose mode, but it's not necessarily always very clear that they are urls (it's a big blob of text at first glance, especially when the terminal is not very big)

![image](https://cloud.githubusercontent.com/assets/3869412/18780194/a12b6b8c-817c-11e6-896d-10c316087f02.png)

I just discovered Zeit's now, which outputs urls this way:
![image](https://cloud.githubusercontent.c

[2016-09-23 10:33] ta2edchimp commented on #178
Definitely! I want coloured output since ... ever 😜
(Especially for the verbose diff output, to more easily distinguish unset from different configurations.)

[2016-09-28 01:16] #178 closed

[2016-10-07 23:06] randycoulman commented on #172
I looked into doing this at one point and I really love the idea of having this feature.

From my earlier research, I only found one plugin that had deprecated rules ([eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react)), and it doesn't add a `deprecated` flag to the metadata.  Instead, it exports a `deprecatedRules` property alongside its `rules` property.

It might be worth do

[2016-10-07 23:09] randycoulman opened #188 "Report deprecated rules that are in use"
In addition to #172, which would keep eslint-find-rules from reporting errors when deprecated rules are unused, it might also be nice to have a command-line option that shows deprecated rules that are still being used in a configuration.

[2016-10-08 01:16] ljharb commented on #172
I would be happy to accept that PR on eslint-plugin-react. eslint-plugin-import has some deprecated rules as well, iirc.

[2016-10-08 15:52] randycoulman commented on #172
I'll try to work on a PR on eslint-plugin-react, but it might be a week or so before I can get to it.  If anyone else wants to do it before then, feel free.

eslint-plugin-import just added its first deprecated rule in 2.0, but it's really just a rename of one rule to another, and it doesn't warn about the deprecated name when running it.  I'll look at submitting a PR for that as well at my next o

[2016-10-18 04:48] wolfgang42 opened #191 "'extends: eslint:recommended' causes *all* rules to be considered used"
Take the following minimal `.eslintrc.yaml`:
[code]

When I run `eslint-find-rules -c .eslintrc.yaml` it dumps a list of *every* eslint rule, which is extremely unhelpful.

I think the problem here is that `eslint:recommended` is implemented by setting the value for non-recommended rules to `off` instead of leaving them out. The only workaround I can think of for this is to explicitly mask out `es

[2016-10-18 05:17] ljharb commented on #191
"used" means precisely that - "defined". It's not "--enabled".

I think a new flag that finds rules that aren't enabled would be great! However, that's an entirely separate flag than `--unused` - otherwise you'd be breaking the existing use case of locating rules that aren't *defined* in the eslint config.

[2016-10-18 05:53] wolfgang42 commented on #191
No, I completely understand that 'unused' is different from 'enabled'. I think the problem is that I expected `eslint:recommended` to only define the list of recommended rules, in the same way that for example [eslint-config-standard](https://github.com/feross/eslint-config-standard/blob/master/eslintrc.json) only lists the rules it's enabling, rather than listing out every possible eslint rule.

[2016-10-18 06:36] ta2edchimp commented on #191
It will eventually be possible, once `getRules()` is exposed by ESLint's API (see #172 and issues linked within).

[2016-10-18 06:40] ljharb commented on #191
I think that if you want the recommended set to only list the rules it's enabling, that perhaps that's a change that should be made upstream in eslint itself?

[2016-10-29 17:25] mvolkmann opened #194 "--no-error still outputs errors"
This works for me as an npm script:

[code]

This does not work. It outputs errors despite the --no-error flag.

[code]

I don't understand why it outputs errors anyway though.

[2016-10-29 17:33] ta2edchimp commented on #194
Suppressing a non zero exit code would be achieved using `--no-error`.

Returning with a non zero exit code / an error code when there are unused rules, is legacy behavior to ensure all available rules are covered (to be used in a commit hook, for example), optionally suppressed.

[2016-10-29 17:35] ljharb commented on #194
I wouldn't call it legacy behavior; that's the primary purpose of the binary.

[2016-10-29 17:36] ta2edchimp commented on #194
Yeah, sorry, bad wording choice.

[2016-10-29 18:03] mvolkmann commented on #194
Sorry, I meant to say that --no-error is not working.
-n works for me, but --no-error does not.

[2016-10-29 18:16] sarbbottam commented on #194
I guess hyphenated options have a problem, probably will make it noerror.

[2016-10-29 18:23] ta2edchimp commented on #194
[Tests](https://github.com/sarbbottam/eslint-find-rules/blob/master/test/bin/find.js#L100) only cover shorthand options. Same for `--all-available`.

[2016-10-29 20:13] sarbbottam commented on #194
@mvolkmann could you try it with `-no-error`?

[2016-10-29 22:15] mvolkmann commented on #194
-no-error works for me.
--no-error does not.

On Sat, Oct 29, 2016 at 3:13 PM, Sarbbottam Bandyopadhyay <
notifications@github.com> wrote:

--
R. Mark Volkmann
Object Computing, Inc.

[2016-10-29 22:32] sarbbottam commented on #194
We just merged #196, but semantic release errored out. I will release the next version manually.
`--no-error` should work then.

[2016-10-29 22:57] sarbbottam commented on #194
@mvolkmann can you try `--no-error` with the latest [1.14.1](https://www.npmjs.com/package/eslint-find-rules)

[2016-10-30 00:49] mvolkmann commented on #194
Looks like it's not quite fixed.

The command that was run was:
eslint-find-rules --unused ~/.eslintrc --no-error

I got this:
npm ERR! Failed at the ui-lib@0.1.0 efr script 'eslint-find-rules --unused
~/.eslintrc --no-error'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If you do, this is most likely a problem with the ui-lib package,
npm ERR! not with npm

[2016-10-30 02:11] sarbbottam opened #198 "fix semantic release"
semantic release is broken for past few releases.

https://travis-ci.org/sarbbottam/eslint-find-rules/jobs/171707833#L355

[code]

[2016-10-30 02:20] sarbbottam commented on #198
Semantic release seems to be back on track
https://travis-ci.org/sarbbottam/eslint-find-rules/jobs/171710493#L355

[code]

[2016-10-30 02:21] sarbbottam commented on #198
Will keep the ticket open till a successful release.

[2016-10-30 02:35] sarbbottam commented on #198
I guess I know, what has been the problem.
I forced pushed to one of the `PR` branches, with generic command `git ps -f`.
Which force pushed all the branches including the master, rewriting the history and bothered semantic release.

Lesson learnt the hard way. Now I have made the master branch protected. I can not accept pushes other than PR merge. Hopefully, that would prevent any unwanted mista

[2016-10-30 02:42] sarbbottam commented on #194
@mvolkmann I could not reproduce the latest problem you stated.
Steps followed.
* `mkdir test-eslint-find-rules`
* `cd $_`
* `npm init --yes`
* `npm i eslint eslint-find-rules -D`
* `touch .eslintrc`
* update `.eslintrc` with
[code]
* `eslint-find-rules -u --no-error .eslintrc`

_No error found as per @mvolkmann last comment._

**However**, the exit status was `1` instead of `0`. Thus reopening th

[2016-10-30 02:50] ljharb commented on #198
A better approach is being on the latest git, and having this in your `~/.gitconfig`:
[code]

[2016-10-30 03:45] sarbbottam commented on #198
Updated. Thanks @ljharb, learnt quite a few things.

[2016-10-31 05:02] #194 closed

[2016-10-31 05:07] sarbbottam commented on #198
Fixed - https://travis-ci.org/sarbbottam/eslint-find-rules/jobs/171897380#L353

[2016-10-31 05:07] #198 closed

[2016-10-31 05:09] sarbbottam commented on #194
@mvolkmann could you try with [1.14.3](https://www.npmjs.com/package/eslint-find-rules) and let us know.

[2016-10-31 14:10] mvolkmann commented on #194
That works! Thanks!

On Mon, Oct 31, 2016 at 12:09 AM, Sarbbottam Bandyopadhyay <
notifications@github.com> wrote:

--
R. Mark Volkmann
Object Computing, Inc.

[2016-10-31 14:13] mvolkmann commented on #172
An example of a rule that is deprecated, but is flagged by eslint-find-rules as being unused is react/no-comment-textnodes.

[2016-10-31 16:29] sarbbottam opened #202 "auto-merge and semantic release"

[2016-10-31 16:32] sarbbottam commented on #202
<img width="783" alt="auto-merge" src="https://cloud.githubusercontent.com/assets/949380/19862202/9ddcb16e-9f4c-11e6-953b-a15a34604353.png">

This is why I stated, "Please don't approve it via GitHub means, otherwise, the PR will get merged".

But looks like GitHub will not automatically merge the PR. I would raise a simple PR with README updates, as a follow up and see how it behaves.

[2016-10-31 16:36] sarbbottam commented on #202
My 💵 0.02.
Not sure if I would call it "spamming". `semantic-release` will not perform any release if it does not find the word "fix" or "feat" in the commit message. So we can control the release. Having said so, at times there could be multiple fixes/features across PRs, at that time it would release multiple version. In a way that's not bad, I suppose.

[2016-10-31 16:57] ta2edchimp commented on #202
**Re: semantic release**

Yeah, that's why I put it in quotation marks; because on the one hand I see how it _semantically_ makes perfect sense to have a version released for each and every merged `fix` and `feat`, but on the other hand may _feel_ (to some) as if it would add a lot of noise to the release history.

To sum it up:
I see that there's the need to have more control over what gets relea

[2016-10-31 17:56] ljharb commented on #202
My concern about semantic-release is that it puts too much trust in PR authors/mergers. I definitely think each PR should explicitly state the semver level that applies to it - but the actual publisher should manually audit *every line of code* that is going into the publish. PRs can be reverted, but npm versions can't be unpublished (after 24 hours or a dep).

Manually creating and tagging a rele

[2016-10-31 18:05] sarbbottam commented on #202
Maybe we can use https://github.com/conventional-changelog/standard-version to make manual release less tedious.

[2016-10-31 19:19] ta2edchimp commented on #202
@sarbbottam Looks like a good alternative.

@ljharb Well, thanks for the reasonable explanation!
How do you usually manage responsibilities to publish new versions?

[2016-10-31 21:43] ljharb commented on #202
@ta2edchimp usually I make a checklist, which includes waiting for travis to pass on the pushed tag before trying to publish; and then sometimes i might mandate a 👍 on the tagged commit from another collab before being able to publish. whatever works for the team.

[2016-11-03 02:18] sarbbottam commented on #202
So we are good to get rid of `semantic-release`?

[2016-11-03 07:36] ta2edchimp commented on #202
Looks good to me.

One last question: How do we determine *who* releases a new version? Simply let @sarbbottam do it generally and decide otherwise (e.g. within the context of a PR), should he be unavailable / absent (idk, on vacation or sth.) for some time?

[2016-11-03 07:39] ljharb commented on #202
That seems fine. Typically the users who have publish rights are fewer than those who have commit rights anyways.

[2016-11-03 08:00] ta2edchimp commented on #202
Sure, but those few (I guess it's the three of us? have to check) should somehow at least have agreed on a common scenario (e.g. "main publisher") and how to generally react when that will not work ... like, avoid having two users trying to publish a bugfix version at the same time (although I have to admit this will probably be a very rare scenario)... but maybe I'm just overcomplicating here. Le

[2016-11-03 17:37] sarbbottam commented on #202
@ta2edchimp you already have the publish rights. I added @ljharb too.

I will raise a PR to take out `semantic-release` and add  [standard-version](https://github.com/conventional-changelog/standard-version) to the workflow (needs to be manually executed).

Closing this ticket as we are good on the discussed approach. Please feel free to open the ticket should we need any further discussion.

[2016-11-03 17:37] #202 closed

[2016-12-10 17:24] mgol opened #211 "Switch to the getRules API instead of reading the directory contents"
Now that https://github.com/eslint/eslint/pull/7669 has landed this tool can switch to the new `getRules()` API and stop reading the ESLint package contents (unless the API is not available, i.e. for older ESLint versions).

This will make the tools independent of ESLint potentially changing its package structure which is private and would make it possible to add features like #172.

[2016-12-10 17:24] mgol commented on #172
The ESLint PR has landed; I created an issue to switch to the new API: #211. Once that's done, this issue should be easily solvable.

[2016-12-11 01:28] ljharb commented on #211
Probably best to avoid two code paths, and up the required eslint version in a breaking change.

[2016-12-18 05:10] randycoulman commented on #211
I started to work on this, but very quickly ran into a dependency issue.  In order to require a minimum version of ESLint 3.12.0, we also need to upgrade to a newer version of eslint-config-kentcdodds.  In order to get support for ESLint 3.x, we need at least version 7.0.0 (we're at 6.2.0).  But upgrading that dependency results in numerous lint errors, because this codebase no longer conforms to

[2016-12-29 15:39] jfmengels commented on #191
No, I haven't. I could probably in a few days (a bit busy lately), but go ahead if you feel like it in the meantime.

[2017-02-22 04:37] #154 closed

[2017-05-04 21:38] alexilyaev commented on #172
@mgol @randycoulman Can we push this forward?
I see there's a PR that requires a review.

Or is there anything else missing?

[2017-05-04 21:47] alexilyaev commented on #191
Bump +1

[2017-05-04 21:48] randycoulman commented on #172
We can't do anything here until #237 has been merged.  Once that's done, we'll have to refactor a bit to use the new API to get the full rule definitions (we only use the rule names right now).  Then we can filter out the deprecated rules.

[2017-05-05 09:27] ntwb commented on #172
Looking forward to this 😄

[2017-05-05 16:21] #211 closed

[2017-05-05 16:28] randycoulman commented on #172
Now that #237 has been merged, this can be started.  I plan to get to it as soon as I can, but I'm a bit busy right now and it might be a week before I get to it.  If someone else wants to run with it, go for it - just let me know so I don't duplicate effort.

[2017-05-05 17:49] ljharb commented on #172
It'd be good to cut a major release before merging this new option, imo.

[2017-05-19 16:17] randycoulman commented on #188
I've been thinking more about this as I think about implementing it, and I realize that eslint already warns when deprecated rules are in use.  Is this feature useful enough to implement here anyway?  Or should I just close the issue?

[2017-05-19 16:23] ljharb commented on #188
I think it's still useful to get a zero/nonzero exit code based on the config files, without having to actually run eslint.

[2017-05-19 16:57] randycoulman commented on #188
Yeah, good point.  I'll keep it open and work on it when I get a chance.

[2017-05-22 06:36] ta2edchimp commented on #202
I'm a bit confused: We closed this ticket, but the automatic release using `semantic-release` still is invoked on Travis, it just errors out upon execution (see [here](https://travis-ci.org/sarbbottam/eslint-find-rules/jobs/229185923#L1251)).

[2017-06-13 16:03] #172 closed

[2017-06-16 14:21] evilebottnawi opened #279 "Support eslint v4 as peerDeps"
Now we have stable v4 https://github.com/eslint/eslint/blob/master/CHANGELOG.md

[2017-06-16 14:26] evilebottnawi opened #280 "Error after update to latest version"
[code]

[2017-06-16 17:42] ta2edchimp commented on #280
I just had a quick look into this, but the issue seems to be with `window-size` [see here](https://github.com/jonschlinkert/window-size/issues/11) and related to the tests running in Travis.
In our tests, that module's response is mocked, and therefore is not failing on Travis.

I have not yet an idea how to handle this, except, maybe downgrading the dependency again, until the issue is solved on

[2017-06-16 19:25] ljharb commented on #280
Downgrading and pinning seems correct.

[2017-06-16 23:18] alexilyaev opened #281 "v3 shows duplicate results for unused (-u)"
Just upgraded to v3, seeing duplicate results when running:
`eslint-find-rules -u .eslintrc -n`

[code]

You can check it out here:
https://github.com/alexilyaev/react-es6-starter

[2017-06-17 20:42] ta2edchimp commented on #281
First of all, thanks for providing that repo as a test case!

Strange thing is: [the `getRules` method exposed by ESLint](https://github.com/sarbbottam/eslint-find-rules/blob/master/src/lib/rule-finder.js#L74) includes rules of plugins on ESLint `^3.12`<sup>1)</sup>, but does not on ESLint `^4.0`. [So we duplicate the plugins' rules on ESLint `^3.12` when concatenating only `pluginsRules` and (wha

[2017-06-17 21:44] ljharb commented on #281
Seems like just deduping unconditionally makes the most sense?

[2017-06-17 21:45] ljharb commented on #281
I.e. `[...new Set(arr)]`

[2017-06-18 11:39] ta2edchimp commented on #280
Fixed with [`eslint-find-rules@3.1.0`](https://www.npmjs.com/package/eslint-find-rules).

[2017-06-18 11:39] #280 closed

[2017-06-18 11:40] ta2edchimp commented on #279
ESLint 4.x supported as of [`eslint-find-rules@3.1.0`](https://www.npmjs.com/package/eslint-find-rules).

[2017-06-18 11:40] #279 closed

[2017-06-19 18:46] #281 closed

[2017-08-18 06:35] ntwb opened #283 "Add support to filter rules by ESLint rule meta category"
For example, the ESLint `getter-return` rule shipped in ESLint 4.2

This rule is ***not*** included in the ESLint `recommended` config but ***is*** listed in the `Possible Errors` category: https://github.com/eslint/eslint/blob/master/lib/rules/getter-return.js#L49

Currently if I run `eslint-find-rules --unused --no-error` on my _shared config_ this returns ~40 rules that I don't use and have no

[2017-08-19 15:35] ljharb commented on #283
Those categories are pretty arbitrary; there's plenty of things outside "possible errors" that are possible errors, including things in the es6 category.

[2017-08-23 00:33] ljharb opened #284 "add `--options` to find unused options"
I'd like to run a command that ensures that for all rules I have defined, I've defined every possible compatible schema option.

For example, for the "indent" rule, http://eslint.org/docs/rules/indent points out that it can have an object option with 12 different options. I'd like a report, for that rule, of any of the 12 I've omitted in my config.

[2017-08-23 09:05] ta2edchimp commented on #284
Uh, that's a nice idea 👍

The rules' `meta` property exposes all the required information about the schema of a rule:

[code]

[2017-09-04 15:12] alexilyaev commented on #191
@ta2edchimp Are you guys considering this?

[2017-09-04 15:17] alexilyaev commented on #188
ESLint doesn't warn when using deprecated rules in the config, only when using rules that don't exist anymore.

I've got 2 deprecated rules here: https://github.com/alexilyaev/react-es6-starter
`newline-after-var` and `newline-before-return`
Running `eslint -c .eslintrc --ignore-path .gitignore .` doesn't show me any warning.

I think an option to show currently configured deprecated rules is very

[2017-09-04 15:42] ta2edchimp commented on #191
Definitely.

But as I do not have the perfect idea about how to approach this, I'd recommend to use `eslint-diff-rules` in verbose mode as a workaround in the meanwhile:

`eslint-diff-rules [your own config] ./node_modles/eslint/conf/eslint-recommended.js -v`

[2017-09-04 15:59] ta2edchimp commented on #188
A flag to ignore a config's "extends" would be nice.
But atm, only manipulating the input (removing the "extends" property of the config to be loaded) before actually loading the configuration via ESLint's CLIEngine comes to my mind.

[2017-09-24 01:31] krainboltgreene opened #285 "Unhelpful error messages?"
[code]

[code]

[code]

[code]

[2017-09-24 01:41] ljharb commented on #285
The first two are an issue with npx; eslint-find-rules has a peer dep on eslint and npx would need to install it to ensure everything works properly.

[2018-02-15 09:22] #188 closed

[2018-03-09 20:45] alexilyaev opened #291 "Can't show only unused plugin rules + duplicated output"
Using this:

[code]

Results in this:

[code]

### Reproduce

- https://github.com/alexilyaev/stylelint-find-rules/tree/eslint-find-rules-plugin-only
- Run `npm run eslint-find-rules`

[2018-03-09 21:32] ta2edchimp commented on #291
Thanks for bringing this to our attention!

As for the duplicated output regarding the `plugin rules`, this is an issue pretty easy to fix. I'll see if I can get a bugfix PR up tomorrow.
(The statement to actually print out the collected output should move out of its current location, because it gets invoked multiple times in the loop.)

When you only want to print out rules that are "unused" and

[2018-03-10 18:12] alexilyaev commented on #291
Oh, I see, it works, though it wasn't clear from the README.

At first I thought `-u` would only show the unused rules, but it makes sense to separate each flag to it's own output, gives more flexibility.

[2018-03-10 18:17] ta2edchimp commented on #291
Yes, there's definitely room for improvement regarding the README's description.
I also hope to get the rework for the parameter parsing with yargs done soon, that should help with ambiguous sounding flags.

[2018-03-13 10:17] #283 closed

[2018-03-14 16:45] #291 closed

[2018-06-25 09:28] evilebottnawi opened #298 "Release new version with support eslint@5"
Thanks for great tool :+1:

[2018-06-25 17:51] ljharb commented on #298
#296 added this support; it will be released soon.

[2018-06-25 18:08] #298 closed

[2018-08-05 17:27] wareczek opened #301 "print as list"
Please add option to print as a list - each rule in one line.

[2019-06-21 18:08] chrisblossom opened #303 "Scoped plugin error"
When using [@typescript-eslint/eslint-plugin](https://www.npmjs.com/package/@typescript-eslint/eslint-plugin) I'm getting the error:

[code]

[2019-06-24 20:54] ljharb opened #304 "eslint v6 support"
Tracking issue for adding eslint v6 to travis-ci and peer deps.

(ref https://github.com/airbnb/javascript/issues/2036)

[2019-06-27 08:43] sheepsteak commented on #304
I've had a go at trying to do this and it seems the major issue is that [`getConfigForFile`](https://github.com/eslint/eslint/blob/master/lib/cli-engine/cli-engine.js#L903) that is used here - https://github.com/sarbbottam/eslint-find-rules/blob/5c192eb/src/lib/rule-finder.js#L26 - now _requires_ a file path to be passed in. I think in previous ESLint versions it also wanted one but would fall bac

[2019-06-27 15:42] ljharb commented on #304
cc @mystictea @platinumazure who i think were involved with this eslint change

[2019-06-28 04:52] mysticatea commented on #304
Per our document, `--print-config` and `getConfigForFile()` require a file path. That fallback was not intentional.

ESLint may use different configs for each source code file because it supports cascading and glob-based configuration. Because I'm not familiar with this tool, I'm not sure if what decision is proper.

[2019-06-28 05:42] ljharb commented on #304
@mysticatea ideally it would take a directory or a glob; it could even be an array of all found config files within a directory.

The intention of the tool is to help manage config files themselves.

[2019-06-28 07:14] mysticatea commented on #304
Please mind `getConfigForFile()` is the method to get the config for a file, so the name is `getConfigForFile()`. :)

A config file doesn't 1:1 map to a config object that `getConfigForFile()` method returns because the method determines which `overrides` entries were applied. The criteria of `overrides` entries can overlap each other. This means that it will have to return all combinations of `ov

[2019-07-05 05:03] ljharb commented on #304
This approach definitely seems to work to get the configured rules; unfortunately it doesn't seem to be sufficient to make this package work on eslint 6 :-/

[2019-07-05 05:29] ljharb commented on #304
My first attempt is here: https://github.com/sarbbottam/eslint-find-rules/compare/master...ljharb:eslint_6

[2019-07-25 05:31] Xotic750 opened #307 "Security warning for "mem""
[code]
`npm ls mem` shows:
[code]

[2019-07-25 13:52] ljharb commented on #307
like many npm audit reports, this is a false positive, as eslint-find-rules isn’t long-running enough for this to be a problem.

[2019-07-25 13:52] ljharb commented on #307
Also mem and nodejs-mem are two different packages.

[2019-07-25 15:21] Xotic750 commented on #307
Ok, little confused here as to what github is on about?
<img width="790" alt="Screenshot 2019-07-25 at 17 20 41" src="https://user-images.githubusercontent.com/216041/61886788-a4210900-af00-11e9-955e-e5f7785af16b.png">

[2019-07-25 15:29] ljharb commented on #307
ah, maybe it's just a poorly-written CVE explanation.

Either way, it's a false positive for this tool, and we'd have to update yargs to avoid it, which I suspect isn't worth the effort.

[2019-07-25 15:31] Xotic750 commented on #307
I understand the effort part. :) I was not overly concerned, but explain that to my manager. :D

[2019-07-25 16:38] Xotic750 commented on #307
I created a PR for a full dependency update: https://github.com/sarbbottam/eslint-find-rules/pull/308

All seems well with it, if you want to use it ;)

[2019-07-25 19:24] Xotic750 commented on #307
New PR https://github.com/sarbbottam/eslint-find-rules/pull/309

[2019-07-25 20:15] ljharb commented on #307
We can revisit updating yargs past v11 if node 4 is dropped in the future.

[2019-07-25 20:15] #307 closed

[2019-08-03 05:58] nosilleg commented on #304
@ljharb Are there any issues with your first attempt that are preventing a merge? (I'm not able to run the code given my current location/circumstances).

My initial thought from looking at the code is that it can report different rules/plugins than the current version since your new code will account for some overrides. The fact that the overrides can have non `*.js` (as per the new glob) criteri

[2019-08-03 15:25] ljharb commented on #304
@nosilleg it’s not complete, so it doesn’t work yet. If you have any suggestions and want to make a PR, that would be appreciated :-)

[2019-08-03 18:56] nosilleg commented on #304
@ljharb I'm not going to be able to run code for at least a week, so can't do a full PR and test run.

Based on the discussions and a read of the code the proposed change would be to simply change this line: https://github.com/sarbbottam/eslint-find-rules/blob/master/src/lib/rule-finder.js#L26

To:
[code]

A quick test on RunKit seems to give useful results.  https://runkit.com/5d4493461549b300131

[2019-08-04 23:27] lddubeau commented on #304
@ljharb I took your branch and added a commit to deal with the test failures. My branch is [here](https://github.com/lddubeau/eslint-find-rules/tree/eslint_6). The commit I added is [this one](https://github.com/lddubeau/eslint-find-rules/commit/907fccb288c29a3fcaa82ad77530658a75ba8daa).

The problem was that eslint 6 tries to resolve plugin module names to file names prior to calling `require` an

[2019-08-05 02:10] ljharb commented on #304
@lddubeau thanks, that's super appreciated!

I'm still getting some failures locally; I'm seeing different failures in CI: https://travis-ci.com/ljharb/eslint-find-rules/builds/121896205

[2019-08-05 11:25] lddubeau commented on #304
@ljharb Glancing quickly at the CI report, shouldn't there be also be a bunch of tests with `ESLINT=6`?

I see two different failures:

1. Can't load `eslint/lib/shared/relative-module-resolver`. That's going to happen on eslint < 6 since that file does not exist there. A `try... catch` around the offending `require` allows tests to pass on eslint 5. I've amended my commit to take care of that.

2

[2019-08-05 13:44] lddubeau commented on #304
@ljharb At the moment, I'm inclined to think @nosilleg's approach to get the configuration is what we need.

Now bear in mind I'm not familiar with the internals of eslint and I'm not familiar *at all* with `eslint-find-rules`. (The reason I'm here is that `eslint-find-rules`'s incompatibility with eslint 6 blocks the release of an eslint-6-compatible airbnb eslint configuration, which my own stoc

[2019-08-09 06:05] ljharb commented on #304
That's a pretty compelling argument for that approach. Let me pull in your commit.

[2019-08-09 14:46] #304 closed

[2019-08-12 10:11] sweetlikepete commented on #303
Looks like this is resolved in 3.4.0 - just updated and everything works great now :)

[2019-08-12 15:27] ljharb commented on #303
@sweetlikepete in what version of eslint?

[2019-08-13 08:36] sweetlikepete commented on #303
5.16.0

[2019-08-13 17:30] chrisblossom commented on #303
I ran the tests added in #305 without the code changes and the tests fail on >=5. They do pass on v6 though (unsure why).

[2019-08-31 22:25] #303 closed

[2019-10-08 21:52] alexilyaev commented on #188
@ta2edchimp @randycoulman So, after 2 years, I find myself back here :-)

I'm trying to validate user configured rules to not have deprecated rules.
This is useful when upgrading configs/plugins which deprecate certain rules.

Right now running `eslint-find-rules -d .eslintrc` will show deprecated rules not only from user configured rules, but also from `extends`.

I dug into the code and found it

[2019-11-28 08:28] ronkorving commented on #307
It's worth updating just to get rid of the false alarm for everybody who encounters it, who is currently forced to go investigate and waste a ton of time. I would suggest reopening.

[2019-11-28 08:33] ljharb commented on #307
A better solution would be to direct efforts towards CVE factories and warning mechanisms (npm audit, github's vuln alerts) to find ways to minimize false positives rather than forcing churn on maintainers.

[2019-12-12 07:48] preco21 commented on #284
Hi, I'm poking around the code to find out if I can contribute on it, but just stuck finding proper way to display such unused options as an output. For example, you have only specified the first argument (`off`, `error`, ...) in a rule which can accept bunch of additional and also nested options.

In this case, what would be the best to show on the output? I guess only first level of the options

[2019-12-12 15:46] ljharb commented on #284
Just the names of the options and the rule, and the link to the rule docs, would be sufficient for me.

[2019-12-12 19:38] preco21 commented on #284
Is there an example of what “names of the options and the rule” will look like?

For example: https://eslint.org/docs/rules/indent

And there may be nested options where some object can contain another object, what would be the output in this case?

[2019-12-12 20:30] ljharb commented on #284
I’d be interested in the kinds of options unset, but not their potential values unless it’s an enum or a boolean. In the case of indent, the object option keys is what I’m most interested in.

[2020-01-18 00:15] G-Rath commented on #307
@ljharb Not quite sure why you think this is a false positive, as the dependency is quite clear:

[code]

I'm assuming you consider it a FP b/c it's not directly on `eslint-find-rules`, but instead one of its dependencies, but just want to ask in case I've missed something 🙂

That aside, since ESLint has now dropped Node4 support is there anything in particular that's keeping node@4 support around

[2020-01-18 00:50] ljharb commented on #307
@G-Rath it's a false positive not because it's not in the dep graph, but because the CVE *does not affect* eslint-find-rule's usage of yargs and thus mem.

`eslint-find-rules` supports down to eslint 3; what eslint 6 has dropped isn't really relevant. There would need to be a very compelling reason to drop support of an old eslint, i think, and "there's a non-applicable audit warning" doesn't feel

[2020-03-03 17:10] himynameisdave opened #316 "Doesn't find unused rules in @typescript-eslint/eslint-plugin"
I noticed that this [newly added rule](https://github.com/typescript-eslint/typescript-eslint/pull/1522) was added in [`@typescript-eslint/eslint-plugin`](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin), and I realized that it was not being found by this tool. 😦

Perhaps this is an issue with scanning monorepos?

[2020-03-03 17:11] ljharb commented on #316
That rule requires v2.22.0, have you fully updated? This tool uses what’s installed locally.

[2020-03-03 17:50] himynameisdave commented on #316
Thanks for the reply (and for contributing to this invaluable tool). 💯 👍

Yep I updated it the plugin locally, then [ran my usual command](https://github.com/himynameisdave/eslint-config-himynameisdave/blob/master/package.json#L9) which I would expect to have found those new rules [added in v2.22.0](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/CHANGELOG

[2020-03-03 18:06] ljharb commented on #316
Sure, a repro repo would be most helpful.

[2020-03-04 03:38] himynameisdave commented on #316
After testing this more locally, I have realized that I had misconfigured something (was running it against a configuration which didn't use this plugin), my bad!

Thanks for the help! 👍

[2020-03-04 03:38] #316 closed

[2020-04-14 20:36] MichaelDeBoey opened #317 "Support overrides"
When adding TypeScript support in `eslint-config-kentcdodds` (see https://github.com/kentcdodds/eslint-config-kentcdodds/pull/54), I noticed CI isn’t failing even though I haven't added all @typescript-eslint rules (yet).

I'm happy to help out if you could point me into the right direction of adding support here. 🙂

[2020-04-15 06:05] ljharb commented on #317
The intention is generally for all rules to be defined for every file; in your case, you could define them all at the root, and only *enable* them in the overrides?

[2020-04-15 10:38] MichaelDeBoey commented on #317
@ljharb That would be really cumbersome to duplicate all rules.
1 time for just having it there (disabled) and make `eslint-find-rules` happy and 1 time to enable them.

For now it's only for @typescript-eslint rules, but this can become more in the future.

Like I said: I'm happy to implement it myself if you could point me in the right direction. 🙂

[2020-04-17 04:53] ljharb commented on #317
@MichaelDeBoey the airbnb config defines every single rule in eslint core, eslint-plugin-import, eslint-plugin-react, and eslint-plugin-jsx-a11y. It's a one-time cost that eslint-find-rules helps keep up to date with minimal incremental effort.

In your case, you could easily define them once in a JS object, and then add that object in two places: the root, off; and overrides, as "error".

[2020-04-19 02:01] kentcdodds commented on #317
Hi @ljharb 👋 It's been a while! Hope you're doing awesome.

Are you opposed to someone adding support for this? Seems like what you're suggesting is more of a workaround than a desirable "feature" 🙃

[2020-04-19 03:39] ljharb commented on #317
@kentcdodds to be specific, it seems like what you're asking is for `--unused` to also check for the presence of rules in `overrides`?

Based on the existence of `--include=deprecated`, it seems reasonable to allow for providing something like `--consider=overrides`, but I'd still encourage you to define every rule for every file, to comply with the spirit of the "unused" check.

[2020-04-19 15:02] kentcdodds commented on #317
That makes sense :) I'd definitely use a `--consider=overrides` flag and I'm ok with that being an opt-in thing personally :)

[2020-05-05 19:23] MichaelDeBoey commented on #317
@ljharb Could you point me into the right direction please?
I'd love to work on this.

[2020-05-05 19:54] ljharb commented on #317
I'm not entirely sure :-) i'd start with tests tho

[2020-05-07 20:24] ljharb opened #318 "eslint v7 support"
We need a semver-minor to add eslint v7 to the peer deps.

[2020-05-09 04:28] #318 closed

[2020-05-12 13:03] nicolashenry opened #322 "Handle typescript-eslint configuration"
When it runs in a project containing only "*.ts" files (so not any "*.js" file) this error occurs:
![image](https://user-images.githubusercontent.com/139160/81693858-d9cbba00-9460-11ea-9cfd-51c385c98ff2.png)

It seems that the issue come from this line : https://github.com/sarbbottam/eslint-find-rules/blob/ab323d6746ec9f60d24d0a26929e4ea01275d17a/src/lib/rule-finder.js#L84

It could be nice to hav

[2020-05-12 14:58] ljharb commented on #322
We could add the ext option, sure, mirroring what eslint does.

[2020-05-13 09:23] nicolashenry opened #323 "git clone error on windows"
I wanted to clone this repository on windows to do some contribution but this error occurs:
[code]
It seems that the "<" character is not supported in Windows file systems, could you rename the folder "test/fixtures/<v5" to something else?

Thanks!

[2020-05-13 19:02] ljharb commented on #323
What happens if you clone it in git-bash or WSL?

[2020-05-13 19:12] nicolashenry commented on #323
This is the result in git bash and I can't use WSL (I am still on Windows 7).

[2020-05-13 19:17] ljharb commented on #323
Windows 7 went EOL in January :-/

[2020-05-13 19:27] nicolashenry commented on #323
Say that to my employer :p but I am sure that it would be the same on Windows 10 with git bash anyway.

[2020-05-13 19:39] nicolashenry commented on #323
From https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file the list of reserved character on windows:
< (less than)

: (colon)
" (double quote)
/ (forward slash)
\ (backslash)
| (vertical bar or pipe)
? (question mark)
* (asterisk)

[2020-05-13 19:57] ljharb commented on #323
lol, happy to :-p

so yes, a PR that renames that dir would be fine, altho it's unfortunate any time windows' filesystem flaws imposes a cost on the wider ecocystem.

[2020-05-20 06:41] #323 closed

[2020-06-07 20:16] #322 closed

[2020-07-14 01:10] ronkorving opened #326 "I'm not sure how to deal with renamed rule in ESLint 7.4.0"
Hi there, love this project, thanks so much for your work!

I noticed that in ESLint 7.4.0 the rule `id-blacklist` was renamed to `id-denylist`. However, no matter which rule I configure for, when I run eslint-find-rules now, it will either complain to me that I'm not using one or the other. Both seem to co-exist (at least in the eyes of eslint-find-rules).

This may not be an issue with eslint-fi

[2020-07-14 02:10] ljharb commented on #326
The old name should still work throughout eslint 7.

You wouldn’t be able to use the new name until you no longer supported eslint < v7.4.

[2020-07-14 02:11] ljharb commented on #326
(and when you do use the new one, you’d specify the old one as “off” explicitly)

[2020-07-14 03:03] ronkorving commented on #326
That actually makes total sense. Thanks so much!

[2020-07-14 03:03] #326 closed

[2020-07-23 22:33] silverwind opened #329 "Find unused plugin rules"
I have [a config](https://github.com/silverwind/eslint-config-silverwind-react/blob/master/.eslintrc) that only includes plugin rules and I would like to find out which of these are not in use. Maybe a new option could be added that works like `-u` but only operates on plugin rules.

[2020-07-26 20:42] MichaelDeBoey opened #330 "CHANGELOG missing"
I just saw that `eslint-find-rules` is updated to `v3.6.0`, but I can't find any CHANGELOG to check out the changes.

Would you guys be so kind to provide us with a decent CHANGELOG please? 🙂

Thanks for all your hard work @sarbbottam & @ljharb! 🙂

[2020-07-26 20:49] ljharb commented on #330
https://github.com/sarbbottam/eslint-find-rules/blob/master/CHANGELOG.md points to https://github.com/sarbbottam/eslint-find-rules/releases, but v3.5 and v3.6 don't have a release created yet.

I'll make one, but note if you click on each release (https://github.com/sarbbottam/eslint-find-rules/releases/tag/v3.5.0) you can click on "compare" and compare to the previous one (https://github.com/sarb

[2020-07-26 20:52] ljharb commented on #330
Releases created.

[2020-07-26 20:52] #330 closed

[2020-07-26 21:19] MichaelDeBoey commented on #330
Thanks @ljharb! 👊

[2020-07-30 04:05] ronkorving commented on #326
@ljharb I understand that in the latest ESLint `id-blacklist` is officially deprecated. I guess that makes this problem go away "properly"? :)

[2020-07-30 05:30] ljharb commented on #326
@ronkorving being "deprecated" just means they'll remove it in eslint v8, which means supporting eslint v8 will be a breaking change for us, so at that point we'd probably drop support for eslint < v7.4.

[2020-07-30 05:38] ta2edchimp commented on #326
Is it really a breaking change for `eslint-find-rules`? I‘d agree it is for eslint configs (using this particular rule), but for this tool it is only dealing with a changed set of available rules, the same as if an eslint plugin would have been removed / replaced / added.

[2020-07-30 05:53] ljharb commented on #326
@ta2edchimp oh sorry, forgot which repo I'm in :-) it's not a breaking change at all for eslint-find-rules; but it'd be a breaking change for the airbnb eslint config.

[2020-09-01 06:34] saiichihashimoto commented on #317
@MichaelDeBoey did you ever figure this out?

[2020-09-01 08:34] MichaelDeBoey commented on #317
@saiichihashimoto I never had the time to look into this.
If you want to, be my guest! 🙂

[2020-09-01 15:33] soda0289 opened #331 "Breaks with ESLint 7.8.0"
I get the following error with eslint 7.8.0:

Error: eslint naming functions not found

Looks like this tool tries to access the normalization functions from eslint in the file "eslint/lib/shared/naming".
https://github.com/sarbbottam/eslint-find-rules/blob/master/src/lib/normalize-plugin-name.js#L13

Looks like that file was removed in this change:
https://github.com/eslint/eslint/pull/13613/file

[2020-09-01 15:37] soda0289 commented on #331
Those normalization functions have been moved to eslint/eslintrc package.
https://github.com/eslint/eslintrc/blob/main/lib/shared/naming.js

I can push fix to include this package as dependency and remove the require('eslint/....')

[2020-09-01 16:21] ljharb commented on #331
A PR would be great; unfortunately this broke in a minor version.

[2020-09-01 18:30] soda0289 commented on #331
@ljharb Created PR #332

[2020-09-23 17:40] soda0289 commented on #331
Confirmed eslint 7.8.0 and 7.9.0 work with eslint-find-fules 3.6.1

[2020-09-23 17:40] #331 closed

[2020-10-31 13:01] Strajk commented on #301
Use `xargs -L1` for a quick workaround

[code]

[2020-12-16 14:14] leepowelldev commented on #317
I spent some time on this today, and have it working - ESLint v7 added better support for merging in override rules when building the config. The downside is it would require v7 as the lowest peer dependency to support as CLIEngine is now deprecated. Also it doesn't seem to pickup any plugins that are defined in an `overrides` block - not sure if this is expected behaviour of ESLint.

[2021-04-14 00:26] MichaelDeBoey commented on #317
A new use-case we have on [`eslint-config-kentcdodds`](https://github.com/kentcdodds/eslint-config-kentcdodds) is wanting to enable all Jest related rules only for testing files (as can be seen in https://github.com/kentcdodds/eslint-config-kentcdodds/pull/98).

Enabling all the rules in the root just to make our tests happy isn't the preferred way, so this feature could benefit us a lot.

@leepow

[2021-05-13 11:51] darekkay commented on #317
My workaround is to define high-level configurations (containing `overrides`) and move all plugin rules into separate files:

[code]

So while `react.js` uses `overrides` to apply `typescript` rules only to TS(X) files, there's a special config file [config-all.js](https://github.com/darekkay/darekkay-eslint-config/blob/master/internals/config-all.js) that contains **all** rules without `overrides

[2021-05-13 12:20] MichaelDeBoey commented on #317
@darekkay This comes down to the same proposal @ljharb did, which is not really preferred in our use-case.

[2021-08-07 10:18] jimmywarting opened #334 "Update dependencies"
Tried contributing but many test failed...

1. File an issue and discuss your proposed solution first
2. Fork and clone the repo
3. $ npm install to install dependencies
4. $ npm run validate to validate you've got it working

But it didn't validate

[2021-08-07 14:38] ljharb commented on #334
In what node version?

[2021-08-07 14:50] jimmywarting commented on #334
v16.5.0

[2021-08-07 21:18] ljharb commented on #334
I'm indeed seeing a bunch of errors like `Error: Failed to load plugin 'plugin' declared in '--config': Cannot find module 'eslint-plugin-plugin'`.

[2021-08-07 21:22] ljharb commented on #334
Seems like it broke in eslint v7.10; it passes in v7.9.

[2021-08-08 05:29] ljharb commented on #334
Will be fixed by #335.

[2021-08-12 17:16] #334 closed

[2021-08-29 17:42] MichaelDeBoey opened #336 "Support ESLint 8.x"
ESLint v8.0.0 is [released](https://eslint.org/blog/2021/10/eslint-v8.0.0-released) 🎉

It would be awesome to have official ESLint 8 support. 👊
I'm happy to help where I can of course 🙂

[2021-08-29 18:40] ljharb commented on #336
Official support will wait until an actual release (betas don’t count).

[2021-11-08 07:19] #336 closed

[2022-01-05 21:32] #317 closed

[2022-05-27 16:21] ainursharaev opened #345 "Add support to the `rule.meta.docs.url` property to get URLs in verbose mode"
This package use `eslint-rule-documentation` to get URLs for rules, but it [recommends to use](https://github.com/jfmengels/eslint-rule-documentation/commit/27f6998c33f37c278a35580f7d03af0b77049c60) `rule.meta.docs.url` property instead.

[2022-06-22 01:06] lucasrmendonca opened #346 "Rules in the "rules" json key are not being considered"
I am using a `.eslintrc.json` file as such:

[code]

But even though I have `arrow-body-style` being used, when I run:

[code]

It lists the `arrow-body-style` rule as one of the "unused" ones. Why?